In [23]:
import psycopg2
from io import StringIO
import os
import pandas as pd
import requests

#for Heroku
# os.environ['DATABASE_URL'] = 'postgres://uzewvaalfzgguu:172f70cfc760489384a4ccb4d118c1c29aba898dd9670b08fbc45ccae18cf54e@ec2-54-175-243-75.compute-1.amazonaws.com:5432/d2vg5i9noo69g1'

#for ElephantSQL
os.environ['DATABASE_URL'] = 'postgres://dzckoggc:bufSvamZ1nR06CrQuEBkpVbwrn-VCLdF@suleiman.db.elephantsql.com:5432/dzckoggc'
DATABASE_URL = os.environ['DATABASE_URL']

#Connect to db

def connect():
    #set as env variable before deploying
    DATABASE_URL = os.environ['DATABASE_URL']
    
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(DATABASE_URL, sslmode='require')
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Connection successful")
    return conn


def get_from_db(table):

    try:
        conn = connect()
        Cursor = conn.cursor()
        
    except Exception as e:
        print('Unable to connect to db. Please check credentials.')
        return e
        
    try:
        Cursor.execute('Select * from {}'.format(table))
    except Exception as e:
        print('Unable to execute SQL query. Rolling back query...')
        Cursor.execute('rollback')
        return e
        
    results = Cursor.fetchall()
    Cursor.close()
    return results
    
    
def set_to_db (df, table):
    conn = connect()
    Cursor = conn.cursor()
    try:
        Cursor.execute('DELETE FROM {};'.format(table))
        print('Successfully cleared cached data')
    except Exception as e:
        print(f'Failed to clear cached data : {e} ')
    copy_from_stringio(conn, df, table)
    Cursor.close()
    
    
#helper method to set data to db
def copy_from_stringio(conn, df, table):
    """
    Here we are going save the dataframe in memory 
    and use copy_from() to copy it to the table
    """
    # save dataframe to an in memory buffer
    buffer = StringIO()
    df.to_csv(buffer, index = False, header=True)
    buffer.seek(0)
    
    cursor = conn.cursor()
    try:
        cursor.copy_from(buffer, table, sep=",")
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("copy_from_stringio() done")
    cursor.close()
    
#API get method
def get_from_api():
    try:
        response = requests.get('https://coronavirus-tracker-api.herokuapp.com/v2/locations?timelines=1')
        timeline_json = response.json()
        return timeline_json
    
    except Exception as e:
        print('Error making API call: ', e)

In [25]:
# #test
# df_columns = ['id', 
#             'Country', 
#            'Population', 
#            'Date', 
#            'ISO-3', 
#            'Multiple_Territories',
#            'Month and Year', 
#            'Day', 'Deaths', 
#            'Deaths per 1M', 
#            'Cases',
#            'Cases per 1M', 
#            'New Deaths (n)',
#            'New Cases (n)'
#           ]

# data = get_from_db('public.chart_ready')
# df = pd.DataFrame(data, columns = df_columns).set_index('id')

,Country,Population,Date,ISO-3,Multiple_Territories,Month and Year,Day,Deaths,Deaths per 1M,Cases,Cases per 1M,New Deaths (n),New Cases (n)
id,,,,,,,,,,,,,
1,Afghanistan,37172386,2020-01-23,AFG,False,Jan 2020,23,0,0.0,0,0.0,0.0,0.0
2,Afghanistan,37172386,2020-01-24,AFG,False,Jan 2020,24,0,0.0,0,0.0,0.0,0.0
3,Afghanistan,37172386,2020-01-25,AFG,False,Jan 2020,25,0,0.0,0,0.0,0.0,0.0
4,Afghanistan,37172386,2020-01-26,AFG,False,Jan 2020,26,0,0.0,0,0.0,0.0,0.0
5,Afghanistan,37172386,2020-01-27,AFG,False,Jan 2020,27,0,0.0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58475,Zimbabwe,14439018,2020-12-26,ZWE,False,Dec 2020,26,341,23.6,12963,897.8,0.0,83.0
58476,Zimbabwe,14439018,2020-12-27,ZWE,False,Dec 2020,27,349,24.2,13077,905.7,8.0,114.0
58477,Zimbabwe,14439018,2020-12-28,ZWE,False,Dec 2020,28,354,24.5,13148,910.6,5.0,71.0
58478,Zimbabwe,14439018,2020-12-29,ZWE,False,Dec 2020,29,359,24.9,13325,922.8,5.0,177.0
58479,Zimbabwe,14439018,2020-12-30,ZWE,False,Dec 2020,30,360,24.9,13625,943.6,1.0,300.0