In [ ]:
import numpy as np
import pandas as pd
import json
from csv import writer
from datetime import date

For Heroku PSQL integration

In [1]:
from flask_sqlalchemy import SQLAlchemy
from flask import Flask
import os

Helper function to make API call

In [ ]:
def make_api_call():
    try:
        response = requests.get('https://coronavirus-tracker-api.herokuapp.com/v2/locations?timelines=1')
        timeline_json = response.json()
        return timeline_json
    
    except Exception as e:
        print('Error making API call: ', e)

Helper function to load previously loaded API data

In [ ]:
def use_existing_api_data():
    try:
        timeline_json = json.load(open('../api_data/timeline_json.json'))
        return timeline_json
    except Exception as e:
        print('Error reading existing JSON file: ', e)

Helper function to update api call log

In [ ]:
def up_to_date_check():
    today = str(date.today())
    log = pd.read_csv('../api_data/api_call_log.csv')
    last = log.loc[:,'date'].max()
    return last == today

Helper function to load data (cached or via new API call) for webapp

In [ ]:
def get_raw_data():
#     raw_data = use_existing_api_data() if up_to_date_check else make_api_call()
        return make_api_call()

In[4]:

In [ ]:
def process_raw_data():

mport ISO3 data for Dash Plotly Choropleth mapping

In [ ]:
    iso3 = pd.read_csv("geodata/ISO3.csv",  index_col = 0)
    location_data = get_raw_data()['locations']
    
    #create empty list to compile country-level data
    data_rows = []

    #Extract COVID morbidity and mortality data from COVID JSON
    for loc in location_data:

        #Remove non-countries and countries with missing data
        if loc['country'] in ['MS Zaandam', 'Eritrea', 'Diamond Princess']: continue   
        cases = [{'Date': k, 'Cases' :v} for k,v in loc['timelines']['confirmed']['timeline'].items()]
        deaths = [{'Date': k, 'Deaths' :v} for k,v in loc['timelines']['deaths']['timeline'].items()]
        country_data = pd.merge(
            pd.DataFrame(deaths), 
            pd.DataFrame(cases), 
            left_on = 'Date', 
            right_on = 'Date')
        country_data['Country'] = 'United States' if loc['country'] == 'US' else loc['country']
        country_data['Country Code'] =  loc['country_code']
        country_data['Population'] =  loc['country_population']
        country_data['Province'] =  loc['province']
        country_data['Latitude'], country_data['Longitude'] =  [*loc['coordinates'].values()]
        country_data['Cases per 1M'] = (country_data['Cases'] /  country_data['Population']* 1000000).round(1)
        country_data['Deaths per 1M'] = (country_data['Deaths'] /  country_data['Population']* 1000000).round(1)
        country_data['New Deaths (n)'] = country_data['Deaths'].diff()
#         country_data['Change in Deaths (pct)'] = country_data['Deaths'].pct_change().round(2)
        country_data['New Cases (n)'] = country_data['Cases'].diff()
#         country_data['Change in Cases (pct)'] = country_data['Cases'].pct_change().round(2)
        country_data['Multiple_Territories'] = country_data['Country'].isin(['China', 'Canada', 'United Kingdom', 'France', 'Australia', 'Netherlands', 'Denmark'])
        
        #Date-related Variables
        country_data['Date'] =  pd.to_datetime(country_data['Date'].str.slice(0,10)) # + " " + country_data['Date'].str.slice(11, -1)
        country_data['Month and Year'] = pd.DatetimeIndex(country_data['Date']).strftime("%b %Y")
        # Later joined to dates on first of each month to create data labels
        country_data['Day'] = pd.DatetimeIndex(country_data['Date']).strftime('%-d')
        
        data_rows.append(country_data)
    df_cases = pd.concat(data_rows, axis = 0)
    
    #Merge ISO-3 country codes for cholopleth mapping
    processed_data = pd.merge(df_cases, iso3, left_on = 'Country', right_on = 'Country', how = 'left')
    return processed_data

In[5]:

Group by Country and Date, to sum metrics (cases, deaths, etc.)<br>
for countries with multiple provinces listed. This allows our graphs <br>
to render country-level statistics

In [40]:
#Raw psql, no dash
import os
import psycopg2
import pandas
import numpy

from process_data import make_api_call, process_raw_data

#Create Script for Daily Updates of Coronavirus Dashboard

#Pull in API data 
# raw_data = make_api_call()
# processed_data = process_raw_data(raw_data)

df_columns = ['Country', 
           'Population', 
           'Date', 
           'ISO-3', 
           'Multiple_Territories',
           'Month and Year', 
           'Day', 'Deaths', 
           'Deaths per 1M', 
           'Cases',
           'Cases per 1M', 
           'New Deaths (n)',
           'New Cases (n)'
          ]

#Establish Heroku PSQL server 
os.environ['DATABASE_URL'] = 'postgres://uzewvaalfzgguu:172f70cfc760489384a4ccb4d118c1c29aba898dd9670b08fbc45ccae18cf54e@ec2-54-175-243-75.compute-1.amazonaws.com:5432/d2vg5i9noo69g1'
DATABASE_URL = os.environ['DATABASE_URL']

# conn = psycopg2.connect(DATABASE_URL, sslmode='require')
# Cursor = conn.cursor()
# Cursor.execute('Select * from public.chart_ready')
# # Cursor.execute('rollback')
# results = Cursor.fetchall()
df = pd.DataFrame(results, columns = df_columns)
# Cursor.close()
df

,Country,Population,Date,ISO-3,Multiple_Territories,Month and Year,Day,Deaths,Deaths per 1M,Cases,Cases per 1M,New Deaths (n),New Cases (n)
0,Afghanistan,37172386,2020-01-22,AFG,False,Jan 2020,22,0,0.0,0,0.0,0.0,0.0
1,Afghanistan,37172386,2020-01-23,AFG,False,Jan 2020,23,0,0.0,0,0.0,0.0,0.0
2,Afghanistan,37172386,2020-01-24,AFG,False,Jan 2020,24,0,0.0,0,0.0,0.0,0.0
3,Afghanistan,37172386,2020-01-25,AFG,False,Jan 2020,25,0,0.0,0,0.0,0.0,0.0
4,Afghanistan,37172386,2020-01-26,AFG,False,Jan 2020,26,0,0.0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58475,Zimbabwe,14439018,2020-12-26,ZWE,False,Dec 2020,26,341,23.6,12963,897.8,0.0,83.0
58476,Zimbabwe,14439018,2020-12-27,ZWE,False,Dec 2020,27,349,24.2,13077,905.7,8.0,114.0
58477,Zimbabwe,14439018,2020-12-28,ZWE,False,Dec 2020,28,354,24.5,13148,910.6,5.0,71.0
58478,Zimbabwe,14439018,2020-12-29,ZWE,False,Dec 2020,29,359,24.9,13325,922.8,5.0,177.0
58479,Zimbabwe,14439018,2020-12-30,ZWE,False,Dec 2020,30,360,24.9,13625,943.6,1.0,300.0

In [75]:
df_columns = [
            'id',
            'Country', 
            'Population', 
            'Date', 
            'ISO-3', 
            'Multiple_Territories',
            'Month and Year', 
            'Day', 'Deaths', 
            'Deaths per 1M', 
            'Cases',
            'Cases per 1M', 
            'New Deaths (n)',
            'New Cases (n)'
          ]

In [16]:
import pandas as pd
df = pd.DataFrame(results, columns = ['Country', 'Population', 'Date', 'ISO-3', 'Multiple_Territories',
       'Month and Year', 'Day', 'Deaths', 'Deaths per 1M', 'Cases',
       'Cases per 1M', 'New Deaths (n)', 'New Cases (n)'])

In [21]:
df

,Country,Population,Date,ISO-3,Multiple_Territories,Month and Year,Day,Deaths,Deaths per 1M,Cases,Cases per 1M,New Deaths (n),New Cases (n)
0,Afghanistan,37172386,2020-01-22,AFG,False,Jan 2020,22,0,0.0,0,0.0,0.0,0.0
1,Afghanistan,37172386,2020-01-23,AFG,False,Jan 2020,23,0,0.0,0,0.0,0.0,0.0
2,Afghanistan,37172386,2020-01-24,AFG,False,Jan 2020,24,0,0.0,0,0.0,0.0,0.0
3,Afghanistan,37172386,2020-01-25,AFG,False,Jan 2020,25,0,0.0,0,0.0,0.0,0.0
4,Afghanistan,37172386,2020-01-26,AFG,False,Jan 2020,26,0,0.0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58475,Zimbabwe,14439018,2020-12-26,ZWE,False,Dec 2020,26,341,23.6,12963,897.8,0.0,83.0
58476,Zimbabwe,14439018,2020-12-27,ZWE,False,Dec 2020,27,349,24.2,13077,905.7,8.0,114.0
58477,Zimbabwe,14439018,2020-12-28,ZWE,False,Dec 2020,28,354,24.5,13148,910.6,5.0,71.0
58478,Zimbabwe,14439018,2020-12-29,ZWE,False,Dec 2020,29,359,24.9,13325,922.8,5.0,177.0
58479,Zimbabwe,14439018,2020-12-30,ZWE,False,Dec 2020,30,360,24.9,13625,943.6,1.0,300.0

Two scripts needed:

    1) Pull fresh data from API and commit to db
        A) Make API call 
        B) Process Data
        B) Commit changes to db
        
    2) Pull from DB
        A) Pull from DB
        B) Return df

In [ ]:
def commit_to_db(df):
    DATABASE_URL = os.environ['DATABASE_URL']
    conn = psycopg2.connect(DATABASE_URL, sslmode='require')
    Cursor = conn.cursor()
    Cursor.execute('Select * from public.chart_ready')
    # Cursor.execute('rollback')
    results = Cursor.fetchall()
    df = pd.DataFrame(results, columns = df_columns)
    Cursor.close()

In [41]:
import psycopg2
from io import StringIO

def connect():
    #set as env variable before deploying
    DATABASE_URL = os.environ['DATABASE_URL']
    
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(DATABASE_URL, sslmode='require')
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Connection successful")
    return conn

In [106]:
# DATABASE_URL = os.environ['DATABASE_URL']

def get_from_db():
    conn = connect()
    Cursor = conn.cursor()
    Cursor.execute('Select * from public.chart_ready')
    # Cursor.execute('rollback')
    results = Cursor.fetchall()
    df = pd.DataFrame(results, columns = df_columns).set_index('id')
    Cursor.close()
    return results
    
def set_to_db (df, table):
    conn = connect()
    Cursor = conn.cursor()
    try:
        Cursor.execute('DELETE FROM {};'.format(table))
        print('Successfully cleared cached data')
    except Exception as e:
        print(f'Failed to clear cached data : {e} ')
    copy_from_stringio(conn, df, table)
    Cursor.close()

In [35]:
# conn.close()
data.fetchone()

AttributeError: 'NoneType' object has no attribute 'fetchone'

In [43]:
def copy_from_stringio(conn, df, table):
    """
    Here we are going save the dataframe in memory 
    and use copy_from() to copy it to the table
    """
    # save dataframe to an in memory buffer
    buffer = StringIO()
    df.to_csv(buffer, index_label='id', header=False)
    buffer.seek(0)
    
    cursor = conn.cursor()
    try:
        cursor.copy_from(buffer, table, sep=",")
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("copy_from_stringio() done")
    cursor.close()
    
#-----------------------------------------------
# Main code
#-----------------------------------------------
conn = connect(param_dic) # connect to the database
copy_from_stringio(conn, df, 'MonthlyTemp') # copy the dataframe to SQL
conn.close() # close the connection

Connecting to the PostgreSQL database...
Connection successful
Successfully cleared cached data
copy_from_stringio() done

In [107]:
dfget_from_db()

Connecting to the PostgreSQL database...
Connection successful
47.12814998626709

In [71]:
df2dd

,Country,Population,Date,ISO-3,Multiple_Territories,Month and Year,Day,Deaths,Deaths per 1M,Cases,Cases per 1M,New Deaths (n),New Cases (n)
1,Afghanistan,37172386,2020-01-23,AFG,False,Jan 2020,23,0,0.0,0,0.0,0.0,0.0
2,Afghanistan,37172386,2020-01-24,AFG,False,Jan 2020,24,0,0.0,0,0.0,0.0,0.0
3,Afghanistan,37172386,2020-01-25,AFG,False,Jan 2020,25,0,0.0,0,0.0,0.0,0.0
4,Afghanistan,37172386,2020-01-26,AFG,False,Jan 2020,26,0,0.0,0,0.0,0.0,0.0
5,Afghanistan,37172386,2020-01-27,AFG,False,Jan 2020,27,0,0.0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58475,Zimbabwe,14439018,2020-12-26,ZWE,False,Dec 2020,26,341,23.6,12963,897.8,0.0,83.0
58476,Zimbabwe,14439018,2020-12-27,ZWE,False,Dec 2020,27,349,24.2,13077,905.7,8.0,114.0
58477,Zimbabwe,14439018,2020-12-28,ZWE,False,Dec 2020,28,354,24.5,13148,910.6,5.0,71.0
58478,Zimbabwe,14439018,2020-12-29,ZWE,False,Dec 2020,29,359,24.9,13325,922.8,5.0,177.0
58479,Zimbabwe,14439018,2020-12-30,ZWE,False,Dec 2020,30,360,24.9,13625,943.6,1.0,300.0

In [105]:
y = pd.DataFrame(x, columns = df_columns).set_index('id')
y

TypeError: Index(...) must be called with a collection of some kind, 'id' was passed