# from process_data import up_to_date_check, process_raw_data, make_api_call

# def get_chart_ready_df():<br>
#     df = process_raw_data()

#     chart_ready_df = df.groupby(<br>
#                         ['Country', <br>
#                         'Population', <br>
#                         'Date', <br>
#                         'ISO-3', <br>
#                         'Multiple_Territories',<br>
#                         'Month and Year',<br>
#                         'Day']<br>
#                     ).agg({<br>
#                         'Deaths':'sum',<br>
#                         'Deaths per 1M':'sum',<br>
#                         'Cases': 'sum',<br>
#                         'Cases per 1M' : 'sum',<br>
#                         'New Deaths (n)' : 'sum',<br>
#                         'New Cases (n)' : 'sum'<br>
# #                         'Change in Deaths (pct)' : 'max',<br>
# #                         'Change in Cases (pct)' : 'max'<br>
#                     }).reset_index()

#     chart_ready_df.to_csv('chart_already_ready.csv', index = False)<br>
#     return chart_ready_df

All my tutorials on https://www.youtube.com/channel/UCqBFsuAz41sqWcFjZkqmJqQ/featured<br>
import dash<br>
from dash.dependencies import Input, Output, State<br>
import dash_table<br>
import dash_core_components as dcc<br>
import dash_html_components as html

import pandas as pd<br>
import plotly.express as px<br>
import plotly.graph_objects as go<br>
import psycopg2

from flask_sqlalchemy import SQLAlchemy<br>
from flask import Flask

# server = Flask(__name__)<br>
# app = dash.Dash(__name__, server=server, suppress_callback_exceptions=True)<br>
# app.server.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False

# for your home PostgreSQL test table<br>
# app.server.config["SQLALCHEMY_DATABASE_URI"] = "postgresql://postgres:your_password@localhost/test"

# for your live Heroku PostgreSQL database<br>
# app.server.config["SQLALCHEMY_DATABASE_URI"] = "postgres://uzewvaalfzgguu:172f70cfc760489384a4ccb4d118c1c29ab\<br>
#     a898dd9670b08fbc45ccae18cf54e@ec2-54-175-243-75.compute-1.amazonaws.com:5432/d2vg5i9noo69g1"

# db = SQLAlchemy(app.server)<br>
# db

#Raw psql, no dash<br>
import os<br>
import psycopg2<br>
import pandas<br>
import numpy<br>
os.environ['DATABASE_URL'] = 'postgres://uzewvaalfzgguu:172f70cfc760489384a4ccb4d118c1c29aba898dd9670b08fbc45ccae18cf54e@ec2-54-175-243-75.compute-1.amazonaws.com:5432/d2vg5i9noo69g1'<br>
DATABASE_URL = os.environ['DATABASE_URL']

conn = psycopg2.connect(DATABASE_URL, sslmode='require')

Cursor = conn.cursor()<br>
Cursor.execute('Select * from public.chart_ready')<br>
Cursor.execute('rollback')<br>
results = Cursor.fetchall()<br>
df = pd.DataFrame(results)<br>
df.columns<br>
Cursor.close()

In [1]:
from db_api_methods import get_from_db
import pandas as pd
import numpy as np

In [5]:
# df_columns = ['id', 'Country','Population','Date','ISO-3','Multiple_Territories','Month and Year','Day','Deaths','Deaths per 1M','Cases','Cases per 1M','New Deaths (n)','New Cases (n)']
# db = get_from_db('public.chart_ready')
df = pd.DataFrame(db, columns = df_columns).set_index(id)
df.head()

,id,Country,Population,Date,ISO-3,Multiple_Territories,Month and Year,Day,Deaths,Deaths per 1M,Cases,Cases per 1M,New Deaths (n),New Cases (n)
0,0,Afghanistan,37172386,2020-01-22,AFG,False,Jan 2020,22,0,0.0,0,0.0,0.0,0.0
1,1,Afghanistan,37172386,2020-01-23,AFG,False,Jan 2020,23,0,0.0,0,0.0,0.0,0.0
2,2,Afghanistan,37172386,2020-01-24,AFG,False,Jan 2020,24,0,0.0,0,0.0,0.0,0.0
3,3,Afghanistan,37172386,2020-01-25,AFG,False,Jan 2020,25,0,0.0,0,0.0,0.0,0.0
4,4,Afghanistan,37172386,2020-01-26,AFG,False,Jan 2020,26,0,0.0,0,0.0,0.0,0.0

In [4]:
df